<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <modules>
        <Postdirekt_Autocomplete>
            <version>1.0.0</version>
        </Postdirekt_Autocomplete>
    </modules>
    <global>
        <blocks>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Block</class>
            </postdirekt_autocomplete>
        </blocks>
        <helpers>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Helper</class>
            </postdirekt_autocomplete>
        </helpers>
        <models>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Model</class>
            </postdirekt_autocomplete>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <postdirekt_autocomplete module="Postdirekt_Autocomplete">
                    <file>postdirekt_autocomplete.xml</file>
                </postdirekt_autocomplete>
            </updates>
        </layout>
        <routers>
            <postdirekt_autocomplete>
                <use>standard</use>
                <args>
                    <module>Postdirekt_Autocomplete</module>
                    <frontName>address</frontName>
                </args>
            </postdirekt_autocomplete>
        </routers>
        <secure_url>
            <postdirekt_autocomplete>/address/autocomplete/</postdirekt_autocomplete>
        </secure_url>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <postdirekt_autocomplete>
                    <files>
                        <default>Postdirekt_Autocomplete.csv</default>
                    </files>
                </postdirekt_autocomplete>
            </modules>
        </translate>

    </adminhtml>
    <default>
        <customer>
            <postdirekt_autocomplete>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </postdirekt_autocomplete>
        </customer>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Postdirekt_Autocomplete/>
            </modules>
        </suite>
    </phpunit>
</config>
