<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <modules>
        <Postdirekt_Autocomplete>
            <version>1.1.0</version>
        </Postdirekt_Autocomplete>
    </modules>
    <global>
        <blocks>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Block</class>
            </postdirekt_autocomplete>
        </blocks>
        <helpers>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Helper</class>
            </postdirekt_autocomplete>
        </helpers>
        <models>
            <postdirekt_autocomplete>
                <class>Postdirekt_Autocomplete_Model</class>
            </postdirekt_autocomplete>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Postdirekt_Autocomplete>
                    <files>
                        <default>Postdirekt_Autocomplete.csv</default>
                    </files>
                </Postdirekt_Autocomplete>
            </modules>
        </translate>
        <layout>
            <updates>
                <postdirekt_autocomplete>
                    <file>postdirekt_autocomplete.xml</file>
                </postdirekt_autocomplete>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <postdirekt_autocomplete module="Postdirekt_Autocomplete">
                    <file>postdirekt_autocomplete.xml</file>
                </postdirekt_autocomplete>
            </updates>
        </layout>
    </frontend>
    <default>
        <customer>
            <postdirekt_autocomplete>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </postdirekt_autocomplete>
        </customer>
    </default>
</config>
