<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <sections>
        <customer>
            <groups>
                <postdirekt_autocomplete translate="label" module="postdirekt_autocomplete">
                    <label>Deutsche Post Direkt AUTOCOMPLETE</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <header>
                            <frontend_model>postdirekt_autocomplete/adminhtml_system_config_custominformation</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header>
                        <active translate="label" module="postdirekt_autocomplete">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <username translate="label" module="postdirekt_autocomplete">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <password translate="label" module="postdirekt_autocomplete">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <logging_enabled translate="label" module="postdirekt_autocomplete">
                            <label>Logging Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logging_enabled>
                        <active_housenumber_hint translate="label" module="postdirekt_autocomplete">
                            <label>Show house number hint</label>
                            <comment><![CDATA[Show an infobox on the street address field, if an address suggestion was selected to remind the customer of adding their house number.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_housenumber_hint>
                        <housenumber_hint>
                            <label>House number hint text</label>
                            <comment><![CDATA[Text displayed as infobox on street address field]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-length maximum-length-255</validate>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active_housenumber_hint>1</active_housenumber_hint>
                            </depends>
                        </housenumber_hint>
                    </fields>
                </postdirekt_autocomplete>
            </groups>
        </customer>
    </sections>
</config>
