<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->

<config>
    <modules>
        <Postdirekt_Address>
            <version>0.1.0</version>
        </Postdirekt_Address>
    </modules>
    <global>
        <helpers>
            <postdirekt_address>
                <class>Postdirekt_Address_Helper</class>
            </postdirekt_address>
        </helpers>
        <models>
            <postdirekt_address>
                <class>Postdirekt_Address_Model</class>
                <resourceModel>Postdirekt_Address_resource</resourceModel>
            </postdirekt_address>
        </models>
    </global>
    <default>
        <postdirekt_address>
            <username>foo</username>
            <password>baar</password>
            <logging_enabled>1</logging_enabled>
        </postdirekt_address>
    </default>
</config>
